@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover{
  cursor: pointer;
}
.App h1{
  margin-top: 1.5rem;
  text-align: center;
}
.input_field{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.input_field input{
  outline: none;
  border: 3px solid rgb(220, 182, 255);
  border-radius: 0.6rem;
  padding: 0.5rem;
  text-align: center;
}
.input_field button, .reset_btn{
  background-color: rgb(111, 78, 138);
  margin-left: 1rem;
  outline: none;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.reset_btn{
  margin: 0;
  padding: 0.5rem 1rem;
}
.counter{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset_btn{
  margin-top: 0.5rem;
}
.counter_btn{
  height: 7rem;
  width: 7rem;
  background-color: rgb(199, 139, 255);
  border-radius: 50%;
  border: none;
  font-size: 2.5rem;
}
